@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.portfolio-filter ul li {
  margin-right: 10px;
}
.footer-background ul li:last-child,
.portfolio-filter ul li:last-child {
  margin: 0;
}
@media only screen and (min-width: 1600px) {
  .aboutWrapper,
  .blogWrapper,
  .contactWrapper,
  .footer-background,
  .portfolioWrapper,
  .resumeWrapper,
  .servicesWrapper,
  .testimonialWrapper {
    margin-left: 30%;
    width: 70%;
  }
}
@media only screen and (min-width: 1920px) {
  .aboutWrapper,
  .blogWrapper,
  .contactWrapper,
  .footer-background,
  .portfolioWrapper,
  .resumeWrapper,
  .servicesWrapper,
  .testimonialWrapper {
    margin-left: 35%;
    width: 65%;
  }
}
.portfolio-filter ul {
  margin: -10px 0;
}
.portfolio-filter ul li {
  margin: 10px 20px 10px 0;
}
